.android {
    width:124px;
    height:182px;
    background: url(images/index_03.png) no-repeat;
}
.android:hover {
    background:url(images/index_03-hover.png) no-repeat;
}

.ios {
    width:121px;
    height:182px;
    background: url(images/index_05.png) no-repeat;
}
.ios:hover {
    background:url(images/index_05-hover.png) no-repeat;
}